<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

	<h3>Register New User Here:</h3>
	<form action='/register' method='post'>
		{% csrf_token %}
		<label>First Name</label>
		<input type='text' name='first_name'>
		<label>Last Name</label>
		<input type='text' name='last_name'>
		<label>Email</label>
		<input type='text' name='email'>
		<label>Password</label>
		<input type='text' name='password'>
		<label>Confirm Password</label>
		<input type='text' name='confirm'>
		<input type='submit' value='Submit'>
	</form>
	{% if messages %}
    	{% for message in messages %}
    		<p> {{ message }}</p>
    	{% endfor %}
    {% endif %}
	<h3>Login</h3>
        <form action="/login" method="post">
        	{% csrf_token %}
            <p>Email: <input type="text" name='email'></p>
            <p>Password: <input type="password" name='lgpassword'></p>
            <p><input type="submit" value="Login"></p>
        </form>
	{% for Users in Users %}
		<p>First Name:{{Users.first_name}} Last Name:{{Users.last_name}} Email:{{Users.email}}</p>
		<form action='/deleteuser' method='post'>
			{% csrf_token %}
			<input type="hidden" name="delete_this" value={{Users.id}}>
            <input type="submit" value='Delete'>
		</form>
	{% endfor %}
</body>
</html>

<form action="/delete/{{secret.id}}" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="delete_this" value={{secret.id}}>
                        <input type="submit" value={{secret.id}}>
                    </form>
                    