<!DOCTYPE html>
<html>
<title>Most Popular</title>
<body>
	{% for x in curr_user %}
    <header>
        <div id="header_container">
                <h2>Hello, {{ x.first_name }}</h2>
                <a href="/logout"><button>Log Off</button></a>
                <a href="/home"><button>Home</button></a>
        </div><!-- /#header_container  -->
    </header>
    <div id="wrapper">
        <div>
            <h3>Post a Secret</h3>
            <form action="/popsecret" method="POST">
            {% csrf_token %}
                <input name="new_secret"></input>
                <input type="submit" value="Post">
            </form>
        </div>
	 	{% for secret in Secrets %}
            <div>
            <li>{{secret.secret_text}}{{secret.created_at}}{{secret.secret_likes.count}}</li>
                {% if secret.user_id.id != x.id %}
                    <form action="/popdelete" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="delete_this" value={{secret.id}}>
                        <input type="submit" value="delete">
                    </form>
                {% else %}
                    <form action="/poplike" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="like_this" value={{secret.id}}>
                        <input type="submit" value="like">
                    </form>
                    
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</body>
</html>
